/* Add your CSS styles here */
.cart-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.quantity {
    display: flex;
    align-items: center;
}
.quantity button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.remove-btn {
    color: red;
    cursor: pointer;
    margin-left: auto;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px; /* Add some margin for spacing */
    border-radius: 5px; /* Add rounded corners */
}

/* Style for the "Clear Cart" button */
#clearCartBtn {
    background-color: #f44336; /* Red color for clear action */
}

/* Style for the "Proceed to Checkout" button */
#checkoutBtn {
    background-color: #008CBA; /* Blue color for checkout action */
}