body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
main {
    padding: 1em;
}
.category-row {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}
.category-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.category-item:hover {
    transform: scale(1.05);
}
.category-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 0.5em;
}
.category-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.category-details h2 {
    margin: 0.5em 0;
    font-size: 1em;
    color: #333;
}
.category-details p {
    color: #666;
    font-size: 0.9em;
}
.discount {
    color: red;
    font-weight: bold;
}
.price {
    color: green;
    font-weight: bold;
}

@media (min-width: 601px) {
    .category-item {
        flex-direction: row;
    }
    .category-item img {
        width: 200px;
        height: 200px; /* Fixed height */
        margin-right: 1em;
    }
    .category-details {
        justify-content: center;
    }
}
