/* CSS for footer */

footer {
    background-color:  #14a085;
    padding: -5px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer-column h4 {
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}


h4 a {
    color: white;
}

/* CSS for mobile view */

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        margin: 0 0 20px 0;
    }

    #footer-end {
        text-align: center;
    }
}
.btn-facebook {
    background-color: #4670ca; /* Change this color to your desired background color */
}
.btn-Twitter{
    background-color: rgb(69, 182, 226); /* Change this color to your desired background color */

}
.btn-Instagram{
    background-color: rgb(231, 112, 132); /* Change this color to your desired background color */

}
.btn-YouTube{
    background-color:rgb(221, 31, 31); /* Change this color to your desired background color */

}

