body {
    background-color: #f8f9fa;
  }
  
  h1, h3 {
    color: red;
  }
  
  .list-group-item {
    cursor: pointer;
    color: blue;
  }
  
  .filter-section {
    margin-bottom: 20px;
    display: none; /* Hidden by default */
  }
  
  @media (min-width: 768px) {
    .filter-section {
      display: block; /* Display on larger screens */
    }
    .container{
        display: flex;
    }
    .d-flex {
        display: flex;
        align-items: center;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .mr-2 {
        margin-right: 0.5rem !important;
    }
   
    .dropdown-menu {
      position: absolute; /* Use absolute positioning */
      top: 100%; /* Position it below the button */
      left: 0; /* Align to the left of the button */
      z-index: 1000; /* Ensure it appears above other content */
      display: none; /* Hide by default */
  }
  .dropdown-menu.show {
      display: block; /* Show when toggled */
  }
  .Submit{
margin-left: 300px;
  }
}
  