body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header .back-button {
    font-size: 34px;
    cursor: pointer;
    transition: color 0.3s ease;
    left: 15px;
}
.header .back-button:hover {
    color: #bbbbbb;
}
.header .title {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
/* Media Query for Mobile View */
@media only screen and (max-width: 768px) {
    .header .back-button {
        display: block; /* Show back button for mobile view */
    }
}

.user-details {
    text-align: center;
    margin: 20px auto;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68e9e2; /* Circle color */
    color: #fff; /* Icon color */
    border-radius: 50%;
    margin: 0 auto;
}

.small {
    width: 80px;
    height: 80px;
    font-size: 30px; /* Adjusted icon size for better fit */
}

.medium {
    width: 100px;
    height: 100px;
    font-size: 40px; /* Adjusted icon size for better fit */
}

.large {
    width: 150px;
    height: 150px;
    font-size: 60px; /* Adjusted icon size for better fit */
}

h1 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="date"],
select,
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#nextButton {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px; /* Adjusted for consistency */
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

/* Mobile View */
@media (max-width: 600px) {
    #nextButton {
        font-size: 14px;
        padding: 12px;
    }

    form {
        padding: 15px;
    }
}

/* Font Awesome Icons */
.fa-regular, .far {
    font-size: 24px; /* Adjusted for better fit */
}