*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html{
    width:100%;
    height:100%;
    font-size:16px;
}

body{
    background: #333;
}

.container1{
    width:350px;
    min-height:550px;
    margin:3rem auto;
    position: relative;
    backface-visibility:hidden;
}

form{
    display:block;
    background: #f9f9f9; /* Updated background color */
    padding:3rem 2rem;
    transition:transform 1s linear;
}

.form-heading{
    font-family:Arial;
    text-align:center;
    font-size:40px;
    margin-bottom:2rem;
}

label{
    display:block;
    font-family:Verdana;
    font-weight:bold;
    margin-bottom:.5rem;
}

input{
    border:none;
    border-bottom:1px solid gray;
    margin-bottom:.75rem;
    width:100%;
    font-size:1rem;
    padding:1rem 0 .5rem;
	border-radius: 5px;
	background-color:#bdf3e8;

}

input:focus{
    outline:none;
}

#login-toggle, #signup, #signup-toggle, #login{
    display:block;
    width:100%;
    margin:1rem auto;
    padding:.75rem;
    border:none;
    font-size:1.3rem;
    background:linear-gradient(to right,blue,skyblue);
    border-radius:40px;
    color:#fff;
    cursor:pointer;
}

form.signup-form1{
    backface-visibility:hidden;
    background-color:#14a085;
	border-radius: 15px;
}

form.login-form1{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    right:0;
    padding:7rem 2rem;
    backface-visibility:hidden;
    transform:rotateY(180deg);
    background-color:#14a085;
	border-radius: 15px;
}


.flipped form.signup-form1{
    transform:rotateY(180deg);
}

.flipped form.login-form1{
    transform:rotateY(0deg);
}
