body {
  background-color: #f8f9fa;
}

h1, h3 {
  color: red;
}

.list-group-item {
  cursor: pointer;
  color: blue;
}

@media (min-width: 768px) {
  .filter-section {
    display: block; /* Display on larger screens */
  }
  .container {
    max-width: 960px;
  }
  .d-flex {
    display: flex;
    align-items: center;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-2 {
    margin-right: 0.5rem !important;
  }
  .filter-section button {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
  }
  .filter-section button.active {
    background-color: black;
    color: white;
  }
  .selected-filter {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
  }
}

button.btn-dark {
  margin-top: 20px;
}

.selected-filter {
  margin-bottom: 10px;
}


.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
  margin-top: 35px;
}